body {
    overflow: hidden;
}

.leaflet-container {
    margin-top: 56px;
    height: calc(100vh - 56px);
}

.loader {
    animation:spin 1s linear infinite;
    border:8px solid #f3f3f3;
    border-radius:50%;
    border-top-color:#333;
    height:60px;
    left:50%;
    margin-left:-25px;
    margin-top:-25px;
    position:absolute;
    top:50%;
    width:60px;
    z-index:101;
}

.e-message {
    left:45%;
    position:absolute;
    top:50%;
    width:300px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.data-box {
    position: absolute;
    top: 80px;
    right: 40px;
    height: 600px;
    z-index: 999;
    overflow: hidden;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
}

.data-box-table {
    overflow: auto;
    height: 100%;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
}

.leaflet-bar a, .leaflet-bar a:hover {
    text-decoration: none !important;
}

.leaflet-top {
    bottom: 0;
}

.leaflet-top .leaflet-control-zoom {
    top:60px;
    position: fixed;
}

.btn:focus, .btn.focus {
    box-shadow: none !important;
}

.btn-link {
    font-size: 12px;
    color: #333;
    text-decoration: underline;
}

.btn-link:hover{
    font-size: 12px;
    color: #333;
    text-decoration: underline;
}

.sticky-button {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    width: auto;
    height: 60px;
}

@media only screen and (max-width: 500px) {
    .data-box {
        top: auto;
        right: 0;
        position: fixed;
        bottom: 0;
        height: 500px;
        z-index: 999;
        overflow: hidden;
        border-radius: 0;
        padding: 30px;
        width: 100%;
        animation: slide 1s;
    }

    .sticky-button {
        position: fixed;
        bottom: auto;
        right: -11px;
        top: -10px;
        z-index: 3000;
        width: auto;
    }

    .btn-menu {
        background-color: #fff !important;
        border-radius: 0 !important;
        height: 56px !important;
        width: 56px !important;
    }
}

table td {
    vertical-align: bottom !important;
}

table .btn-link {
    font-size: 14px;
}

table .btn-link:hover {
    font-size: 14px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@keyframes slide {
    from {height: 0;}
    to {height: 500px;}
}

.btn-menu {
    background-color: #fff;
    background-image: url('assets/table.png');
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-size: cover;
}

nav {
    background-color: #212121;
}

.form-control:focus {
    border-color: #aaa !important;
    box-shadow: none !important;
}

