body {
    overflow: hidden;
}

.leaflet-container {
    margin-top: 56px;
    height: calc(100vh - 56px);
}

.loader {
    animation:spin 1s linear infinite;
    border:8px solid #f3f3f3;
    border-radius:50%;
    border-top-color:#333;
    height:60px;
    left:50%;
    margin-left:-25px;
    margin-top:-25px;
    position:absolute;
    top:50%;
    width:60px;
    z-index:101;
}

.e-message {
    text-align: center;
    position:absolute;
    top:50%;
    width:100vw;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.data-box {
    position: absolute;
    top: 80px;
    right: 40px;
    height: 600px;
    z-index: 999;
    overflow: hidden;
    border-radius: 10px;
    padding: 30px;
    width: 350px;
}

.data-box-table {
    overflow: auto;
    height: 100%;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
}

.leaflet-bar a, .leaflet-bar a:hover {
    text-decoration: none !important;
}

.leaflet-top {
    bottom: 0;
}

.leaflet-top .leaflet-control-zoom {
    top:60px;
    position: fixed;
}

.btn:focus, .btn.focus {
    box-shadow: none !important;
}

.btn-link {
    font-size: 12px;
    color: #333;
    text-decoration: underline;
}

.btn-link:hover{
    font-size: 12px;
    color: #333;
    text-decoration: underline;
}

.sticky-button {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    width: auto;
    height: 60px;
}

@media only screen and (max-width: 500px) {
    .data-box {
        top: auto;
        right: 0;
        position: fixed;
        bottom: 0;
        height: 500px;
        z-index: 999;
        overflow: hidden;
        border-radius: 0;
        padding: 30px;
        width: 100%;
        animation: slide 1s;
    }

    .sticky-button {
        position: fixed;
        bottom: auto;
        right: -11px;
        top: -10px;
        z-index: 3000;
        width: auto;
    }

    .btn-menu {
        background-color: #fff !important;
        border-radius: 0 !important;
        height: 56px !important;
        width: 56px !important;
    }
}

table td {
    vertical-align: bottom !important;
}

table .btn-link {
    font-size: 14px;
}

table .btn-link:hover {
    font-size: 14px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

@keyframes slide {
    from {height: 0;}
    to {height: 500px;}
}

.btn-menu {
    background-color: #fff;
    background-image: url('assets/table.png');
    width: 50px;
    height: 50px;
    object-fit: cover;
    background-size: cover;
}

nav {
    background-color: #212121;
}

.form-control:focus {
    border-color: #aaa !important;
    box-shadow: none !important;
}

.form-control:hover {
    border-color: #aaa !important;
    box-shadow: none !important;
}

.bg-dark {
    background-color: #212121 !important;
}

.react-datepicker-popper {
    z-index: 1030;
}

.gap-10 {
    gap: 10px
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #212121;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

.react-datepicker__close-icon::after {
    background-color: #212121;
    font-weight: bold;
}

.clear-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #212121;
    border: none;
    color: #fff; /* Adjust the color as needed */
    cursor: pointer;
    border-radius: 50%;
}

.alarm-icon {
    opacity: 0.65;
}

.cog-icon {
    @media only screen and (max-width: 500px) {
        position: fixed;
        right: 65px;
        top: 14px
    }
}

.btn-cog {
    background-color: transparent;
    border: 0;
}

/* custom checkbox */

.checkbox-label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
    top: -8px;
  }
  
  .checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ced4da; 
  }

  .checkmark:hover {
    border: 1px solid #aaa;
  }
  
  .checkbox-label input:checked + .checkmark {
    background-color: #212121;
    border: 1px solid #212121; 
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-label input:checked + .checkmark:after {
    display: block;
  }
  
  .checkbox-label .checkmark:after {
    left: 7px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  /* custom checkbox */
